- add_meta 'description','test'

.row
  .columns.text-center
    :markdown
      Software Engineer in San Francisco.

.row
  .large-4.columns.text-center
    %p
      = link_to github_path do
        GitHub

  .large-4.columns.text-center
    %p= link_to 'Résumé', resume_path

  .large-4.columns.text-center
    %p
      %a(href='#' data-reveal-id='contact-info') Contact

%ul#contact-info.reveal-modal.tiny.vcard
  .hcard-note
    %a.openwebicons-microformats(title="Microformats-enabled: This is an hCard" href="http://microformats.org/about")
      %span hCard

  %li.fn.n
    %span.given-name Ryan
    %span.additional-name Taylor
    %span.family-name Long
  %li
    = link_to 'mailto:ryan@rtlong.com', class: 'email' do
      = icon 'zocial-email'
      ryan@rtlong.com

  %li
    %a.tel-link(href="tel:14159006696")
      = icon 'zocial-call'
      %abbr.tel(title='+1.415.900.6696')
        (415) 900-6696
  %li.adr
    = icon 'entypo-location'
    = succeed(',') do
      %span.locality San Francisco
    %abbr.region(title="California") CA
    .hide.country-name United States of America
  %a.hide.photo(href="https://gravatar.com/avatar/053e38be1bd8b18bf8b1c26e11a797ff?s=256") Avatar

  %li
    = link_to vcard_path, title: "Download my vCard" do
      = icon 'entypo-vcard'
      vCard


  %a.close-reveal-modal(href='#') &#215;
