!!! 5
/[if lt IE 7] <html class="ie6" lang="en">
/[if IE 7]    <html class="ie7" lang="en">
/[if IE 8]    <html class="ie8" lang="en">
/[if IE 9]    <html class="ie9" lang="en">
/[if (gt IE 9)|!(IE)] <!--> <html lang="en"> <!--

%head
  %meta{charset: 'utf-8'}
  %title= title
  = meta_tags
  = stylesheet_link_tag 'application'
  = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
  = javascript_include_tag 'custom.modernizr.js'
  -# = csrf_meta_tag
  -# = google_analytics
%body
  - if admin?
    = render 'layouts/admin_toolbar'

  - flash.each do |level,message|
    .row
      .columns
        .alert-box.radius(class=level data-alert)
          = message
          %a.close(href='#') ×

  .content{class: content_for(:content_div_class)}
    = content_for?(:content) ? yield(:content) : yield

  = yield(:after_content)

  = javascript_include_tag 'application'

</html>
